@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?wlm737');
    src:  url('fonts/icomoon.eot?wlm737#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?wlm737') format('truetype'),
      url('fonts/icomoon.woff?wlm737') format('woff'),
      url('fonts/icomoon.svg?wlm737#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.icon-cloud-computing-1:before {
    content: "\e901";
    font-family: 'icomoon';
    font-size: 2rem;
    color:yellow;
  }
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100vw;
    background-color: rgb(204, 79, 79);
    padding: 30px 0;
}

.offers__single-offer{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    text-decoration: none;
}

.gillimore-font{
    font-family: ;
}

.offers__single-offer:hover .offers__single-offer-icon{
    transform: translateY(-10px);
}

.offers__single-offer-icon{
    transition: .3s;
    height: 50px;
    margin-bottom: 0;
}

.offers__single-title{
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
}

.offers__single-offer-intro{
}